<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>상세 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">
            <h3>게시판 관리</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>상세정보</span></p>
        </div>
    
        <div class="content">
            <section>
                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">글 유형</th>
                            <td th:text="${post.noticeYn == false ? '일반' : '공지'}"></td>
    
                            <th scope="row">등록일</th>
                            <td th:text="${#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm' )}"></td>
                        </tr>
                        <tr>
                            <th scope="row">제목</th>
                            <td>[[ ${post.title} ]]</td>
    
                            <th scope="row">조회</th>
                            <td colspan="3">[[ ${post.viewCnt} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">이름</th>
                            <td colspan="3">[[ ${post.writer} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">내용</th>
                            <td colspan="3">[[ ${post.content} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">첨부파일</th>
                            <td colspan="3" id="files" >
                        
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p class="btn_set">
                    <button type="button" onclick="goWritePage();" class="btns btn_bdr4 btn_mid">수정</button>
                    <button type="button" class="btns btn_bdr1 btn_mid" onclick="deletePost()">삭제</button>
                    <button type="button" onclick="goListPage();" class="btns btn_bdr4 btn_mid">뒤로</button>
                </p>

                <!-- 댓글 작성 -->
                <div class="cm_write">
                    <fieldset>
                        <legend class="skipinfo">댓글 입력</legend>
                        <div class="cm_input">
                            <p><textarea id="content" name="content" onkeyup="countingLength(this);" cols="90" rows="4" placeholder="댓글을 입력해 주세요."></textarea></p>
                            <span><button type="button" class="btns" onclick="saveComment();">등 록</button> <i id="counter">0/300자</i></span>
                        </div>
                    </fieldset>
                </div>

                <!-- 댓글 목록 -->
                <div class="cm_list">

                </div>


                <!-- 댓글 페이지네이션 -->
                <div class="paging">

                </div>
                    
            </section>
        </div> <!-- content -->

        <!-- 댓글 팝업 창 -->
        <div id="commentUpdatePopup" class="popLayer">
            <h3>댓글 수정</h3>
            <div class="pop_container">
                <table class="tb tb_row tl">
                    <colgroup>
                        <col style="width:30%;" /><col style="width:70%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scpoe="row">작성자<span class="es">필수입력</span></th>
                            <td><input type="text" id="modalWriter" name="modalWriter" placeholder="작성자를 입력해 주세요."/> </td>
                        </tr>
                        <tr>
                            <th scope="row">내용<span class="es">필수입력</span></th>
                            <td><textarea id="modalContent" name="modalContent" cols="90" rows="10" placeholder="수정할 내용을 입력해주세요."></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <p class="btn_set">
                    <button type="button" id="commentUpdateBtn" class="btns btn_st2">수정</button>
                    <button type="button" class="btns btn_bdr2" onclick="closeCommentUpdatePopup();">취소</button>
                </p>
            </div>
            <button type="button" class="btn_close" onclick="closeCommentUpdatePopup();"><span><i class="far fa-times-circle"></i></span></button>
        </div> <!-- popLayer -->

    </th:block>

   
    <th:block layout:fragment="script">
        <script th:inline="javascript" >
            /*<![CDATA[*/

            window.onload = () => {
                findAllFile();

                findAllComment();
            }

            /* AJAX 공통 함수 */

            // 데이터 조회
            function getJson(uri, params) {
            // ajax의 get 요청시, data를 넣지 않을 경우, data 옵션에 대한 설정이 없기 때문에 
            // jQuery의 $.ajax 메서드는 해당 옵션을 기본값인 undefined로 처리 
            // undefined가 설정되면 jQuery는 자동으로 이를 무시
                
                let json = {};

                $.ajax({
                    url : uri,
                    method : 'get', 
                    dataType : 'json',
                    data : params,
                    async : false,
                    success : function (response) {
                        json = response;
                    },
                    error : function(request, status, error) {
                        console.log("request : " + request + "\n" 
                                    + "status : " + status + "\n" 
                                    + "error : " + error);
                    }
                })

                return json;

            }


            // 데이터 저장 / 수정 / 삭제
            function callApi(uri, method, params) {

                let json = {};

                $.ajax({
                    url: uri,
                    method : method,
                    dataType : 'json',
                    data : (params) ? JSON.stringify(params) : {},
                    contentType : "application/json; charset=utf-8",
                    async : false,
                    success : function(response) {
                        json = response;
                    },
                    error : function(request, status, error) {
                        console.log("request : " + request + "\n" 
                                    + "status : " + status + "\n" 
                                    + "error : " + error);
                    }
                })

                return json;

            }

            
            /* 댓글 관련 */

            function findAllComment(page) {

                // const currentPage = document.querySelector(".paging a.on");
                // page = (page) ? page : (currentPage ? Number(currentPage.text) : 1);

                const uriPage = new URLSearchParams(location.search).get("page");
                page = (page) ? page : (uriPage ? Number(uriPage) : 1);

                const postId = [[ ${post.id}]]

                const params = {
                    postId : postId,
                    page : page,
                    recordSize : 5,
                    pageSize : 10
                }

                const uri = `/posts/${postId}/comments`;

                const response = getJson(uri, params);
                const pagination = response.pagination;
                drawComments(response.list);
                drawPage(pagination, page);
            }


            // 댓글 목록
            function drawComments(list) {
                // 조회된 댓글이 없을 경우
                if(!list.length) {
                    document.querySelector('.cm_list').innerHTML =
                    `<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>`
                    return false;
                }

                // 댓글 목록이 있는 경우
                let commentHtml= '';

                list.forEach(row => {
                    commentHtml +=
                    `
                    <div>
                        <span class="writer_img"><img src="/images/default_profile.png" width="30" height="30" alt="기본 프로필 이미지"/></span>
                        <p class="writer">
                            <em>${row.writer}</em>
                            <span class="date">${dayjs(row.createdDate).format("YYYY-MM-DD HH:mm")}</span>
                        </p>
                        <div class="cont"><div class="txt_con">${row.content}</div></div>
                        <p class="func_btns">
                            <button type="button" class="btns" onclick="openCommentUpdatePopup(${row.id});" ><span class="icons icon_modify">수정</span></button>
                            <button type="button" class="btns" onclick="deleteComment(${row.id})"><span class="icons icon_del">삭제</span></button>
                        </p>
                    </div>
                    `;
                })
                document.querySelector(".cm_list").innerHTML=commentHtml;
            }


            // 댓글 페이지네이션
            function drawPage(pagination, page) {

                if(!pagination || !page) {
                    document.querySelector(".paging").innerHTML = "";
                    throw new Error("Missing required parameter");
                }

                let html = "";

                // ( 페이지 목록 내 1 페이지 존재 여부 ? 생성 X : 생성 O )
                // 처음 페이지 / 이전 페이지
                if (pagination.existPrevPage) {
                    html += 
                    `
                    <a href="javascript:void(0);" onclick="findAllComment(1)" class="page_bt first">첫 페이지</a>
                    <a href="javascript:void(0);" onclick="findAllComment(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
                    `;
                }

                // 목록의 처음 페이지 ~ 마지막 페이지 생성
                html += `<p>`;
                for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                    html += 
                    `
                    <a href="javascript:void(0);" onclick="findAllComment(${i});">${i}</a>
                    `;
                }
                html += `</p>`;


                // (페이지 목록 내 마지막 페이지 존재 여부 ? 생성 X : 생성 O)
                // 마지막 페이지 / 다음 페이지
                if(pagination.existNextPage) {
                    html +=
                    `
                    <a href="javascript:void(0);" onclick="findAllComment(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
                    <a href="javascript:void(0);" onclick="findAllComment(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
                    `
                }

                // 댓글 페이지네이션 영역에 렌더링
                const paging = document.querySelector(".paging");
                paging.innerHTML = html;
                
                // Array의 find : 검사를 위해 전달받은 함수를 만족하는 배열 요소의 값을 반환함. 만족하는 값이 없으면 undefined를 반환함.
                const currentPage = Array.from(paging.querySelectorAll("a")).find(a => Number(a.text) === page || Number(a.text) === pagination.totalPageCount);
                currentPage.classList.add("on");
                currentPage.removeAttribute("onclick");

                // 페이지 URI 강제 변경
                const postId = new URLSearchParams(location.search).get("id");
                history.replaceState({}, '', location.pathname + `?id=${postId}&page=${currentPage.text}`);
            }


            
            // 댓글 길이 카운팅
            function countingLength(content) {
            // 1. 사용자가 텍스트 영역에 글자를 입력할 때마다 countingLength 함수가 호출
            // 2. 함수 내에서 현재 입력된 글자 수가 300자를 초과하는지 확인
            // 3. 만약 300자를 초과하면 경고 창을 띄우고, 입력된 내용을 300자까지만 남기고 자른다.
            // 4. 입력된 글자 수를 실시간으로 보여주는 요소의 내용을 업데이트
                if(content.value.length > 300) {
                    alert("댓글은 300자 이하로 작성해주세요.");
                    content.value = content.value.substring(0,300);
                    content.focus();
                }

                document.getElementById("counter").innerText=content.value.length + "/300자"
            }


            // 댓글 저장
            function saveComment() {

                const content = document.getElementById("content");
                isValid(content, "댓글");
                const postId = [[ ${post.id} ]];

                const uri = `/posts/${postId}/comments`;

                const params = {
                    postId : postId,
                    content : content.value,
                    writer : "테스터"
                }

                callApi(uri, 'post', params);
                console.log("Success : ", response);
                alert("댓글이 저장되었습니다.")
                content.value = '';
                document.getElementById("counter").innerText="0/300자";
                findAllComment(1);
            }


            // 수정된 댓글 저장
            function updateComment(id) {

                const writer = document.getElementById("modalWriter");
                const content = document.getElementById("modalContent");
                isValid(writer, "작성자");
                isValid(content, "수정할 댓글 내용");

                const postId = [[${post.id}]];
                
                const params = {
                    postId : postId,
                    id : id,
                    writer : writer.value,
                    content : content.value
                }

                const uri = `/posts/${postId}/comments/${id}`;

               
                callApi(uri, 'patch', params)
                alert("댓글이 수정 되었습니다.");
                closeCommentUpdatePopup();
                findAllComment();
            }

            
            /* 
            Indent depth(들여쓰기)를 줄이는 코딩 
            : depth가 낮을 수록 읽기 좋은 코딩 
            : 예외 조건을 앞쪽에 선언해 두고, 뒤쪽에서 메인 로직이 실행되는 구조로 코딩하는 연습
            -> 들여쓰기가 늘어날 수록 depth가 증가
                EX) 1번 : Indent depth = 1 ( GOOD )
                    2번 : Indent depth = 2
            */

            // 댓글 삭제

            // 1번
            function deleteComment(id) {

                if(!confirm("해당 댓글을 삭제할까요?")) { 
                    return false; // 댓글 삭제 확인하기 -> 취소 -> 함수 끝 
                }

                const postId = [[ ${post.id} ]];

                const uri = `/posts/${postId}/comments/${id}`;

                callApi(uri, 'delete')
                alert("댓글이 삭제되었습니다.");
                findAllComment();
            }


            // 2번
            /* function deleteComment(id) {
                if(confirm("해당 댓글을 삭제할까요?")) { 
                    
                    const postId = [[ ${post.id} ]];

                    $.ajax({
                        url : `/posts/${postId}/comments/${id}`,
                        type : 'delete',
                        dataType : 'json',
                        async : false,
                        success :function (response) {
                            alert("댓글이 삭제되었습니다.");
                            findAllComment();
                        },
                        error : function(request, status, error) {
                            console.log("request : " + request + "\n" 
                                        + "status : " + status + "\n" 
                                        + "error : " + error);
                        }
                    })
                }
            } */


            /* 댓글 팝업 관련 */

            // 댓글 수정 팝업 열기
            function openCommentUpdatePopup(id) {

            const postId = [[ ${post.id} ]];

            const uri = `/posts/${postId}/comments/${id}`; 

            const response = getJson(uri);
            document.getElementById("modalWriter").value = response.writer;
            document.getElementById("modalContent").value = response.content;
            document.getElementById("commentUpdateBtn").setAttribute("onclick", `updateComment(${id});`)
            layerPop('commentUpdatePopup');
            }


            // 댓글 수정 팝업 닫기
            function closeCommentUpdatePopup() {
            // 밑에 코드가 필요한 이유가 있을까? -> 어차피 모달 창이 열릴 때, 해당 댓글의 내용이 셋팅 되는데?
            document.querySelectorAll('#modalContent, #modalWriter').forEach(element => element.value = '');
            document.getElementById('commentUpdateBtn').removeAttribute('onclick');
            layerPopClose('commentUpdatePopup');
            }



            /* 게시글 관련 */

            // 게시글 수정 페이지로 이동
            function goWritePage() {
                location.href = '/post/write' + location.search
            }


            // 게시글 리스트 페이지로 이동
            function goListPage() {
                // URLSearchParams : 쿼리 스트링을 편리하게 다루는 JavaScript의 내장 클래스
                const queryString = new URLSearchParams(location.search);
                queryString.delete('id');
                // const queryString = new URLSearchParams(location.search).delete('id');
                location.href = "/post/list" + "?" + queryString.toString();
            }


            function deletePost() {
                
                const id = [[${post.id}]];

                // console.log("id : ", [[${post.id}]]);

                if( !confirm(id + '번 게시글을 삭제하겠습니까?')) {
                    // 취소 눌렀을 때
                    return false;
                }

                let inputHtml = '';

                new URLSearchParams(location.search).forEach((value, key) => {
                    inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
                })


                const formHTML = `
                    <form id="deleteForm" action="/post/delete" method="post">
                        ${inputHtml}
                    </form>
                `;

                const doc = new DOMParser().parseFromString(formHTML, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }


            /* 파일 관련 */

            // 전체 파일 조회
            function findAllFile() {

            const postId = [[ ${post.id}]];
            const response = getJson(`/posts/${postId}/files`);
            console.log("response : ", response);

            // List<FileResponse>가 비어 있는 경우
            if ( !response.length ) {
                return false;
            }

            // 파일 영역 추가
            let fileHtml = '<div class="file_down"><div class="cont">';
            response.forEach(row => {
                fileHtml += `<a href="javascript:alert('파일 다운로드는 준비중입니다.');"><span class="icons"><i class="fas fa-folder-open"></i></span>${row.originalName}</a>`;
            })
            fileHtml += '</div></div>';

            // 파일 HTML 렌더링
            document.getElementById('files').innerHTML = fileHtml;
            }



            /*]]>*/
        </script>
    </th:block>

</html>